<div class="flex">
    <div style="background-image:url({{currentUser.avatar}})" class="profile avatar"></div>
    <h1 class="title">Bienvenue {{currentUser.firstname}}</h1>
    {{!-- les maraudes ou il participent on les affiches dans son dashboard
          les maraudes ou il peut participer un lien pour all maraude pour qui puisse voir  --}}
</div>

<a href="/maraude/all-maraudes"><button class="buttonDashboardUser">Participer aux maraudes</button></a>
<form method="post" action="/profile/edit/infos/{{currentUser._id}}" class="form">
    <h2 class="title">Mettre à jour votre profil</h2>
    <label for="input-username" class="is-clickable">Nom</label>
    <input id="input-username" type="text" class="input" value="{{currentUser.username}}" name="username">
    <label for="input-email" class="is-clickable">Email</label>
    <input id="input-email" type="email" class="input" value="{{currentUser.email}}" name="email">
    <button class="btn">Ok</button>
</form>


<form method="post" action="/profile/edit/password/{{user._id}}" class="form">
    <h2 class="title">Mettre à jour votre mot de passe</h2>

    <label for="input-old-password" class="is-clickable">Ancien mot de passe</label>
    <input id="input-old-password" type="password" class="input" name="oldPassword">
    <label for="input-password" class="is-clickable">Nouveau mot de passe</label>
    <input id="input-password" type="password" class="input" name="password">
    <button class="btn">Ok</button>
</form>